
<extend name="Public:Master/index"/>
<block name="main">

    <div class="phone_left">
        <div class="zhougong_bor">
            <h1>周公解梦</h1>
            <p class="zhougong_p1">在线解梦、梦中凶吉预测</p>
            <div class="zhougong_shur">
                <form method="post" action="__CONTROLLER__/search" id="form1">
                    <input type="text" name="dr" id="text_search" class="zhougong_sousuotxt"
                           onblur="if(this.value=='') {this.value='请输入做梦内容的关键字，如“女人”';this.style.color='#343235';}"
                           onfocus="if(this.value=='请输入做梦内容的关键字，如“女人”') {this.value='';this.style.color='#343235';}"
                           value="请输入做梦内容的关键字，如“女人”">
                    <input type="submit" class="zhougong_but" value="">
                </form>
            </div>
            <div class="zhougong_nav">
                <foreach name="cate" item="item">
                    <a class="<if condition="$cateid eq $item['id']">on</if>" href="__CONTROLLER__/titleCate/cate/{$item['id']}">{$item['cate_name']}</a>
                </foreach>
            </div>
            <div class="zhougong_line"></div>

                <div class="intro_tab_cont">
                    <ul class="clearfix mt10 nobt">
                        <foreach name="cateDetail" item="item">
                        <li>
                            <a href="__CONTROLLER__/contentDetail/id/{$item['id']}">{$item['dream_thing']}</a>
                        </li>
                        </foreach>
                    </ul>
                </div>
            <div class="page">{$page}</div>
        </div>
    </div>
</block>
