<script src="__PUBLIC__/js/distpicker.min.js"></script>
<div class="row">
    {:W('Nav/header')}
</div>
    <!--提示框组件-->
    {:W('Nav/alert')}
<div class="row">
    <form class="form-horizontal" id="form">

        <div class="space-4"></div>

        <div data-tag="password" class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-password">输入更改密码<span class="red">*</span></label>

            <div class="col-sm-9">
                <input id="form-input-password" v-model="model.password" placeholder="请输入6~16位有效字符" class="col-xs-10 col-sm-5" type="password">
            </div>
        </div>

        <div class="space-4"></div>

        <div data-tag="email" class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-email">用户Email</label>

            <div class="col-sm-9">
                <input id="form-input-email" v-model="model.email" placeholder="请输入合法的用户Email" class="col-xs-10 col-sm-5" type="text">
            </div>
        </div>

        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button v-on:click="doSubmit()" class="btn btn-info" type="button">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>


    </form>
</div>
<script type="text/javascript">
    util.get("{:U('member/show')}",{id:"{$show_id}"},function (data) {
        var model = (data==false)?{status:true,role_id:''}:data;
        var vm = new Vue({
            el: "#form",
            data: {
                model:model,
            },
            mounted: function () {
                var province = model.province;
                var city = model.city;
                var area = model.area;
                var opt = {province: province, city: city, district: area};
                $("#distpicker").distpicker(opt);
            },
            methods: {
                doSubmit: function() {
                    $.ajax({
                        type:'post',
                        data:this.model,
                        url:"{:U('member/center')}",
                        cache: false,
                        dataType:'json',
                        success:function(data){
                            if(data.status==true){
                                layer.msg(data.message, function(){
                                    history.back();
                                });
                            }else {
                                $('[data-tag]').siblings().removeClass('has-error');
                                $('[data-tag="'+data.tag+'"]').addClass('has-error');
                                util.alert('danger',data.message,true);
                            }
                        }
                    });
                }
            }
        })
    })
</script>
