<div class="phone_right">
    <div class="pr_bor">
        <div id="boxa">
            <ul id="taba">
                <li class="on" id="taba_1" onmouseover="switchTaba(1)">娱乐</li>
                <li id="taba_2" onmouseover="switchTaba(2)">休闲</li>
            </ul>
            <ul id="tab_cona">
                <li id="tab_cona_1">
                    <div class="danone"><a href="http://www.kuaichale.com/yanyuceshi/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_n1.png">
                        <p>
                            艳遇测试</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/character/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_n6.png">
                        <p>
                            人品计算器</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/xingzuoyunshi/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_b2.png">
                        <p>
                            星座运势</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/qqlt/" target="_blank"><img
                            src="http://s.kuaichale.com/images/yule_02.png">
                        <p>
                            QQ强制对话</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/naojinjizhuanwan/" target="_blank"><img
                            src="http://s.kuaichale.com/images/yule_10.png">
                        <p>
                            脑筋急转弯</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/xingmingces/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_xmcs.png">
                        <p>
                            姓名测试</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/shengchengbazi/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_scbz.png">
                        <p>
                            生辰八字</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/tianqi/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_7.png">
                        <p>
                            天气预报</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/ditu/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_9.png">
                        <p>
                            在线地图</p></a></div>
                </li>
                <li id="tab_cona_2">
                    <div class="danone"><a href="http://www.kuaichale.com/dreamsearch/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_b1.png">
                        <p>
                            周公解梦</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/caipiao/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_12.png">
                        <p>
                            彩票查询</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/ip/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_3.png">
                        <p>
                            IP地址查询</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/rili/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_5.png">
                        <p>
                            万年历</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/commontelphone/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_13.png">
                        <p>
                            常用电话号码</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/zone/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_16.png">
                        <p>
                            电话区号查询</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/weightTest/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_b8.png">
                        <p>
                            标准体重测试</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/pregcheck/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_b9.png">
                        <p>
                            怀孕计算器</p></a></div>
                    <div class="danone"><a href="http://www.kuaichale.com/fengshui/" target="_blank"><img
                            src="http://s.kuaichale.com/images/link_b12.png">
                        <p>
                            风水命理</p></a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pr_bor">
        <div class="gongju">
            <div class="gongju_nav">
                工具排行
            </div>
            <ul class="pr_txtr">
                <li><span class="qsan">01</span>
                    <p><a href="http://www.kuaichale.com/express/" target="_blank">快递查询</a></p></li>
                <li><span class="qsan">02</span>
                    <p><a href="http://www.kuaichale.com/shouji/" target="_blank">手机归属地</a></p></li>
                <li><span class="qsan">03</span>
                    <p><a href="http://www.kuaichale.com/ip/" target="_blank">IP查询</a></p></li>
                <li><span class="hsan">04</span>
                    <p><!--
                                <a href="http://www.kuaichale.com/huochepiao/" target="_blank">火车票查询</a>
                            --><a href="http://www.kuaichale.com/xingzuoyunshi/" target="_blank">星座运势</a></p></li>
                <li><span class="hsan">05</span>
                    <p><!--
                                <a href="#" target="_blank">酒店预订</a>
                            --><a href="http://www.kuaichale.com/ditu/" target="_blank">在线地图</a></p></li>
                <li><span class="hsan">06</span>
                    <p><a href="http://www.kuaichale.com/tianqi/" target="_blank">天气查询</a></p></li>
            </ul>
            <ul class="pr_txtr">
                <li><span class="hsan">07</span>
                    <p><a href="http://www.kuaichale.com/dreamsearch/" target="_blank">周公解梦</a></p></li>
                <li><span class="hsan">08</span>
                    <p><a href="http://www.kuaichale.com/rili/" target="_blank">万年历</a></p></li>
                <li><span class="hsan">09</span>
                    <p><!--
                                <a href="#" target="_blank">公交线路</a>
                            --><a href="http://www.kuaichale.com/fanyi/" target="_blank">在线翻译</a></p></li>
                <li><span class="hsan">10</span>
                    <p><a href="http://www.kuaichale.com/caipiao/" target="_blank">彩票查询</a></p></li>
                <li><span class="hsan">11</span>
                    <p><a href="http://www.kuaichale.com/feiji/" target="_blank">航班查询</a></p></li>
                <li><span class="hsan">12</span>
                    <p><a href="http://www.kuaichale.com/jiaotongweigui/" target="_blank">交通违章查询</a></p></li>
            </ul>
        </div>
    </div><!--
             <div class="pr_bor"><div class="taobao298x250" id="taobao298x250"><script src='http://c.haolexiang.com/139.js' language='javascript'></script></div></div>-->
</div>
<div class="nav_title">
    <div class="title_left"><p>
        相关工具
    </p></div>
    <div class="title_right"><p><a href="http://www.kuaichale.com/yanyuceshi/" target="_blank">艳遇测试</a> 丨 <a
            href="http://www.kuaichale.com/mobilenum/" target="_blank">手机号码吉凶</a> 丨
        <a href="http://www.kuaichale.com/tianqi/" target="_blank">全国天气</a> 丨 <a
                href="http://www.kuaichale.com/character/" target="_blank">人品计算器</a> 丨
        <a href="http://d.kuaichale.com/" target="_blank">更多工具&gt;&gt;</a></p></div>
</div>
<div class="content">
    <ul>
        <li><a href="http://www.kuaichale.com/express/" target="_blank"><img src="http://s.kuaichale.com/images/link_1.png">
            <div class="link_txt"><p>
                快递查询
            </p><span>快递物流单号跟踪查询</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/shouji/" target="_blank"><img src="http://s.kuaichale.com/images/link_2.png">
            <div class="link_txt"><p>
                手机号码归属地
            </p><span>快速查询手机号码归属地</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/ip/" target="_blank"><img src="http://s.kuaichale.com/images/link_3.png">
            <div class="link_txt"><p>
                IP地址查询
            </p><span id="ipInfo" class="dongIpInfo">您的IP是：121.15.87.62</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/ditu/" target="_blank"><img src="http://s.kuaichale.com/images/link_9.png">
            <div class="link_txt"><p>
                地图查询
            </p><span>中国城市、世界地图查询</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/rili/" target="_blank"><img src="http://s.kuaichale.com/images/link_5.png">
            <div class="link_txt"><p>
                万年历
            </p><span>农历、公历、各种节日</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/feiji/" target="_blank"><img src="http://s.kuaichale.com/images/link_6.png">
            <div class="link_txt"><p>
                航班班次查询
            </p><span>全国各地航班在线查询</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/tianqi/" target="_blank"><img src="http://s.kuaichale.com/images/link_7.png">
            <div class="link_txt"><p>
                全国城市天气
            </p><span>全国城市一周天气详情</span></div>
        </a></li>
        <li><a href="http://www.kuaichale.com/youbiansousuo/" target="_blank"><img src="http://s.kuaichale.com/images/link_10.png">
            <div class="link_txt"><p>
                邮政编码查询
            </p><span>全国各地邮编区号查询</span></div>
        </a></li>
    </ul>
</div><!--
        <div class="banner"><script src='http://c.haolexiang.com/138.js' language='javascript'></script></div>-->
<div id="foot">
    <div class="foot_left"><a href="#" target="_blank">关于本站</a> | <a href="http://www.7477.com/" target="_blank">网址导航</a>
        | <a href="http://www.kuaichale.com/">返回首页</a> | <a onclick="AddFavorite(window.location,document.title)"
                                                            href="javascript:void(0)">加入收藏</a></div>
    <div class="foot_right"><a href="http://d.kuaichale.com/" target="_blank"><span
            class="flink">kuaichale.com</span></a> 最快、最全的便民查询网站
        <span class="beian">粤ICP备12034386号-5</span></div>
</div>
</div>
<div id="tbox"><!--分享--><a id="pinglun">
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"><span class="bds_more" id="bdshareas"><img
            src="http://s.kuaichale.com/images/back_hover.png" name="b1" class="bdshar_img"></span></div>
</a><a id="xiangguan" onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)"
       title="加入收藏"></a><a style="display: none;" id="gotop" href="javascript:void(0)" title="返回顶部"></a></div>
<script type="text/javascript">        // 定义js常用到的常量
var $CONFIG = {};

// 网站动态子域名
$CONFIG['siteDynamicUrl'] = "http://d.kuaichale.com";

// 网站地址
$CONFIG['siteUrl'] = "http://www.kuaichale.com";

// 上传图片对应的域名
$CONFIG['attachmentUrl'] = "http://img.kuaichale.com";

// 查询网站前台 js css 对应路径
$CONFIG['staticUrl'] = "http://s.kuaichale.com";

</script>
<script src="http://s.kuaichale.com/js/common.js" type="text/javascript"></script>
<script src="http://www.kuaichale.com/searchTools.js" type="text/javascript"></script>
<script src="http://s.kuaichale.com/js/index.js" type="text/javascript"></script>
<script src="http://s.kuaichale.com/js/gongao.js" type="text/javascript"></script><!-- Baidu Button BEGIN -->
<script src="http://s.kuaichale.com/js/bds_s_v2.js" type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0"></script>
<script type="text/javascript">     document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
</script><!-- Baidu Button END -->
<script src="main_files/gongao.js" type="text/javascript"></script>
<script src="main_files/common.js" type="text/javascript"></script>
<script>        function navEffect2() {
    if ($("#taobao298x250").length > 0) {
        var oDiv1 = $("#taobao298x250");
        var offset1 = oDiv1.offset();
        var firstTop1 = offset1.top;
        var marginLeft = offset1.left;
        window.onscroll = fexed;
        var marginLeft = null;

    }
    function fexed() {
        if ($(document).scrollTop() >= firstTop1 - 8) {
            if ($.browser.msie && $.browser.version < 7) {
                oDiv1.css({position: "absolute", top: $(document).scrollTop(), left: marginLeft, zIndex: "3"});
            } else {
                oDiv1.css({position: "fixed", top: 0});
            }
        } else {
            oDiv1.css({position: "static", top: firstTop1});
        }
    }
}
$(navEffect2)
navEffect2();
</script>
<script type="text/javascript">        function tanchuang(flag) {
    // 弹出层
    if (flag == 0) {
        if (getCookie("shoucangFlag") != "1" && getCookie("alertFlag") != "1") {
            $('#shoucbox').show();
            $("#popuplayer").show();
        }
    } else {
        $('#shoucbox').show();
        $("#popuplayer").show();
    }
}
$(function () {
    $(document.body).click(function () {
        if (getCookie("shoucangFlag") != "1" && getCookie("alertFlag") != "1") {
            // 加入收藏
            AddFavoriteAlert(window.location, document.title);
            // 往cookies写入值
            addCookie("shoucangFlag", "1", 0);
        }
    })

    $(".set_last").click(function () {
        // 影藏弹出层
        $("#popuplayer").hide();
        if ($(this).parents(".sc_sy")) {
            $(this).parents(".sc_sy").hide();
        }
        if ($(this).parents(".sc_index")) {
            $(this).parents(".sc_index").hide();
        }
        addCookie("alertFlag", "1", 1);
        return false;
    })
    // 为桌面下载按钮添加点击事件
    $(".set_ent").click(function () {
        $("#popuplayer").hide();
        $(this).parents(".sc_sy").hide();
    })
})

</script>
<div class="sc_index" id="shoucbox">
    <div class="sc_head"><span class="schead_index">收藏快查，以备不时之需！</span></div>
    <div class="scindex">
        <ul id="xuanzexiang">
            <li class="set_shouye" id="shouye"><a href=""></a><span>设为首页</span></li>
            <li class="set_shoucang" id="shoucang"><a href=""></a><span>加入收藏</span></li>
            <li class="set_diannao" id="zhuomian"><a href="javascript:void(0);"
                                                     class="hoverclass"></a><span>保存到电脑</span></li>
        </ul>
        <div class="set_last"><a href="">以后再说</a></div>
    </div>
</div>
<div class="sc_sy" id="shoucboxhome">
    <div class="sc_head"><span class="schead_index"><span>快查</span>让您的生活更便捷</span></div>
    <div class="sc_sy_main">
        <div class="sc_sy_left"><img src="main_files/tishiren.gif"></div>
        <div class="sc_sy_right">
            <div class="set_index">很抱歉，您的浏览器不支持自动设为首页功能！</div>
            <div class="set_tuijian">推荐您使用：</div>
            <div class="set_buttom"><span class="set_last"><a href="">以后再说</a></span><a class="set_ent"
                                                                                        href="http://d.kuaichale.com/url.php"></a>
            </div>
        </div>
    </div>
</div>
<div class="sc_sy" id="shoucboxcang">
    <div class="sc_head"><span class="schead_index"><span>快查</span>让您的生活更便捷</span></div>
    <div class="sc_sy_main">
        <div class="sc_sy_left"><img src="main_files/tishiren.gif"></div>
        <div class="sc_sy_right">
            <div class="set_shoucang">很抱歉，未能加入收藏！</div>
            <div class="set_ctrl">请按<span> Ctrl+D </span>进行收藏</div>
            <div class="set_tuijian">推荐您使用：</div>
            <div class="set_buttom"><span class="set_last"><a href="">以后再说</a></span><a class="set_ent"
                                                                                        href="http://d.kuaichale.com/url.php"></a>
            </div>
        </div>
    </div>
</div>
<div id="popuplayer"></div>
<div style="display:none;">
    <script src="main_files/stat.php" language="JavaScript"></script>
    <script src="main_files/core.php" charset="utf-8" type="text/javascript"></script>
    <a href="http://www.cnzz.com/stat/website.php?web_id=5401589" target="_blank" title="站长统计">站长统计</a></div>
<script src="main_files/logger.js"></script>