<iframe style="display: none;" frameborder="0"></iframe>
<div style="display: block;" id="bdshare_s">
    <iframe id="bdsIfr" style="position:absolute;display:none;z-index:9999;" frameborder="0"></iframe>
    <div style="display: none;" id="bdshare_l">
        <div id="bdshare_l_c"><h6>分享到</h6>
            <ul>
                <li><a href="#" class="bds_mshare mshare">一键分享</a></li>
                <li><a href="#" class="bds_qzone qqkj">QQ空间</a></li>
                <li><a href="#" class="bds_tsina xlwb">新浪微博</a></li>
                <li><a href="#" class="bds_bdysc bdysc">百度云收藏</a></li>
                <li><a href="#" class="bds_renren rrw">人人网</a></li>
                <li><a href="#" class="bds_tqq txwb">腾讯微博</a></li>
                <li><a href="#" class="bds_bdxc bdxc">百度相册</a></li>
                <li><a href="#" class="bds_kaixin001 kxw">开心网</a></li>
                <li><a href="#" class="bds_tqf txpy">腾讯朋友</a></li>
                <li><a href="#" class="bds_tieba bdtb">百度贴吧</a></li>
                <li><a href="#" class="bds_douban db">豆瓣网</a></li>
                <li><a href="#" class="bds_tsohu shwb">搜狐微博</a></li>
                <li><a href="#" class="bds_bdhome bdhome">百度新首页</a></li>
                <li><a href="#" class="bds_sqq sqq">QQ好友</a></li>
                <li><a href="#" class="bds_thx thx">和讯微博</a></li>
                <li><a href="#" class="bds_more">更多...</a></li>
            </ul>
            <p><a href="#" class="goWebsite">百度分享</a></p></div>
    </div>
</div>
<div id="top">
    <div class="main"><p> 让你的生活更便捷——快查
    </p>
        <p class="top_line"> 丨
        </p>
        <p></p>
        <div id="div_gongao">
            <div></div>
            <div class="nongli">7月26日 星期二(农历六月廿三) 13:24</div>
            <div class="clientIp">您的IP是：广东省深圳市(宝安区)电信[121.15.87.62]</div>
            <div></div>
            <div class="nongli">7月26日 星期二(农历六月廿三) 13:24</div>
            <div class="clientIp">您的IP是：广东省深圳市(宝安区)电信[121.15.87.62]</div>
        </div>
        <p></p>
        <div class="top_right"><p><a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a></p>
            <p style="padding-left:50px;"><a href="http://d.kuaichale.com/url.php">保存到桌面</a></p>
            <div id="shouchang"><a onclick="AddFavorite(window.location,document.title)"
                                   href="javascript:void(0)">加入收藏</a></div>
        </div>
    </div>
</div>
<div id="common">
    <div class="logo">
        <div class="logo_left"><a href="http://www.kuaichale.com/"><img src="http://s.kuaichale.com/images/logo.gif" alt="快查首页"></a><img
                src="http://s.kuaichale.com/images/logo_txt.gif"></div>
        <div class="weather">
            <iframe scrolling="no" allowtransparency="true" marginheight="0" marginwidth="0" src="{:U('Index/weather')} "
                    name="weather_inc" frameborder="0" height="70" width="330"></iframe>
        </div>
        <div class="sosuo"><input value="输入您需要的查询工具" id="searchkey" class="sousuotxt" type="text">
            <input id="Button2" value=""  class="sousuo_but" type="button">
        </div>
    </div>
    <div class="nav">
        <div class="nav_left"></div>
        <ul>
            <li><a href="http://www.kuaichale.com/">常用查询</a></li>
            <li><a href="http://www.kuaichale.com/express/">快递查询</a></li>
            <li><a href="http://www.kuaichale.com/shenghuo/">生活助手</a></li>
            <li><a href="http://www.kuaichale.com/jiaotong/">交通出行</a></li>
            <li><a href="http://www.kuaichale.com/jinrong/">金融理财</a></li>
            <li><a href="http://www.kuaichale.com/jiaoyu/">教育学习</a></li>
            <li><a href="http://www.kuaichale.com/yule/">休闲娱乐</a></li>
            <li class="nhover"><a href="http://www.kuaichale.com/zonghe/">综合查询</a></li>
            <li class="no_bg"><a href="http://www.7477.com/" target="_blank">网址大全</a></li>
            <div class="nav_new"></div>
        </ul>
        <div class="nav_right"></div>
    </div>
</div>
<div class="main">
