  <div class="navs">
    <foreach name="categoryData" item="category">
        <div class="nav">
            <a class="" href="__APP__/list/index/categoryId/{$category['category_id']}/categoryPid/{$category['pid']}" target="_blank">
                <span class="icon icon-1">
                <h1 style="font-size:20px;background:none;line-height:60px;text-align:center">{$category['name']}</h1>
                </span>
            </a>
            <div class="cates f-cb">
                <ul class="cate ">
                    <foreach name="category['child']" item="childCategory">
                        <li class="ct">
                            <div class="hl">
                                <span target="_blank">
                                    {$childCategory['name']}
                                </span>
                            </div>
                            <div>
                                <foreach name="childCategory['child']" item="grandchildCategory">
                                    <a class="s-fc2" href="__APP__/list/index/categoryId/{$grandchildCategory['category_id']}/categoryPid/{$childCategory['pid']}" target="_blank">
                                        {$grandchildCategory['name']}
                                    </a>&nbsp;&nbsp;
                                </foreach>
                            </div>
                        </li>
                   </foreach>

                </ul>
            </div>
        </div>
    </foreach>
    <!-- <a class="nav" href="http://miss.163.com/og?act=navi" target="_blank">
        <span class="icon icon-4">
        </span>
    </a>
    <a class="nav nav-invitation" href="http://miss.163.com/act/invitation"
    target="_blank">
        <span class="icon icon-act-invitation">
        </span>
    </a> -->
</div>