<extend name="Public/Layout/index"/>
<block name="main">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">主页</a>
                </li>

                <li>
                    <a href="#">管理组管理</a>
                </li>
                <li class="active">选择规则</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    管理组管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                    选择规则
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <form class="form-horizontal" action='__ACTION__' role="form" method='post' >

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" id="group_id" name="group_id" for="form-field-1">请选择组</label>

                            <div class="col-sm-9">
                                <select name='group_id'>   
                                    <option>---请选择组---</option>
                                    <foreach name="group" item="groups">
                                        <option value="{$groups['id']}">{$groups['title']}</option>
                                    </foreach>
                                </select>   
                            </div>      
                        </div> 
                         <input type="hidden" name="uid" value="{$adminId}"/>
                        <div class="form-group" style="margin-left:300px;">
                            <input type='submit'  class="btn btn-info" value='添加'/>
                        </div>
                        
                    </form>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</block>