<extend name="Public/Layout/index"/>
<block name="main">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
             <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="__APP__">主页</a>
                </li>

                <li>
                    <a href="#">权限管理</a>
                </li>
                <li class="active">查看权限</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    权限管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        查看权限
                    </small>
                    <small>
                        <i class="icon-double-angle-right"></i>
                            <a href="__CONTROLLER__/add">添加权限</a>
                    </small>
                </h1>
            </div><!-- /.page-header -->

                <!-- <form action='__CONTROLLER__/select' method="POST">
                    <div class="seachform">
                        规则名称: <input name="name" type="text" class="scinput" />
                        &nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary btn-xs"  value="查询"/>
                    </div>
                </form> -->
                <div><br/></div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>规则</th>
                                            <th>
                                                规则名
                                            </th>
                                            <!-- <th>
                                                状态
                                            </th> -->
                                            <th>
                                                操作
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>                             
                                    <foreach name='rules' item='rule'>
                                        <tr>
                                            <td>
                                                {$rule.id}
                                            </td>
                                            <td>{$rule.name}</td>
                                         
                                            <td class="hidden-480">{$rule.title}</td>
                                           <!--  </td>
                                               {$rule['status'] == '1'? "启用":"禁用"}
                                           </td> -->
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                    <a  href='__CONTROLLER__/mod/id/{$rule.id}'>
                                                        修改 |
                                                    </a>

                                                    <a href='__CONTROLLER__/del/id/{$rule.id}'>
                                                        删除 
                                                    </a>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/mod/id/{$rule.id}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/del/id/{$rule.id}" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </form>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->

                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="hr hr-18 dotted hr-double"></div>
            </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</block>
